<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h2>User List</h2>
    <a href="{% url 'logout' %}">Logout</a>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Tickets</th>
            <th>Premium User</th>
            <th>Abonnement</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ticket_user }}</td>
            <td>{{ user.is_premium_user }}</td>
            <td>{{ user.abonnement_user }}</td>
            <td>
                <a href="{% url 'update_user' user.pk %}">Edit</a> |
                <a href="{% url 'delete_user' user.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
